jason.ml.txt
[{"id":"9f3cd52c.5b6418","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"26f73862.d3f0f8","type":"function","z":"9f3cd52c.5b6418","name":"PreToken","func":"global.set(\"rad\",msg.payload.rad)\nglobal.set(\"tex\",msg.payload.tex)\nglobal.set(\"peri\",msg.payload.peri)\nglobal.set(\"ar\",msg.payload.ar)\nglobal.set(\"smo\",msg.payload.smo)\nvar apikey=\"5dR-udUqj44Z8PcXSCanh5kpfFJnfgEtqlH5uC_3h7aI\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":300,"wires":[["aaa698bc.877cd8"]]},{"id":"aaa698bc.877cd8","type":"http request","z":"9f3cd52c.5b6418","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":400,"wires":[["258d1a44.411ce6"]]},{"id":"bf51f6f2.8bd808","type":"inject","z":"9f3cd52c.5b6418","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":200,"wires":[["26f73862.d3f0f8"]]},{"id":"258d1a44.411ce6","type":"function","z":"9f3cd52c.5b6418","name":"Pre Prediction","func":"var rad = global.get('rad')\nvar tex = global.get('tex')\nvar peri = global.get('peri')\nvar ar = global.get('ar')\nvar smo = global.get('smo')\nvar token=msg.payload.access_token\nvar instance_id=\"008bb3b0-2e2c-4408-b4a1-81fe47a12863\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\":[{\"fields\": [\"mean_radius\", \"mean_texture\", \"mean_perimeter\", \"mean_area\", \"mean_smoothness\"], \"values\": [[rad,tex,peri,ar,smo]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":300,"wires":[["159cb71f.6a90d9"]]},{"id":"159cb71f.6a90d9","type":"http request","z":"9f3cd52c.5b6418","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/818d8eb3-19ac-4335-9762-da652410a3d3/predictions","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":300,"wires":[["74ef46f.b7337b8","33e3e8c8.318668"]]},{"id":"74ef46f.b7337b8","type":"function","z":"9f3cd52c.5b6418","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":220,"wires":[["ba638551.a93b08"]]},{"id":"ba638551.a93b08","type":"ui_text","z":"9f3cd52c.5b6418","group":"fd406f73.d8aa6","order":1,"width":0,"height":0,"name":"","label":"Diagnosis","format":"{{msg.payload}}","layout":"row-spread","x":1400,"y":300,"wires":[]},{"id":"ea32f0ae.558b6","type":"ui_form","z":"9f3cd52c.5b6418","name":"","label":"form","group":"fd406f73.d8aa6","order":0,"width":0,"height":0,"options":[{"label":"mean_radius","value":"rad","type":"number","required":true,"rows":null},{"label":"mean_texture","value":"tex","type":"number","required":true,"rows":null},{"label":"mean_perimeter","value":"peri","type":"number","required":true,"rows":null},{"label":"mean_area","value":"ar","type":"number","required":true,"rows":null},{"label":"mean_smoothness","value":"smo","type":"number","required":true,"rows":null}],"formValue":{"rad":"","tex":"","peri":"","ar":"","smo":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":460,"wires":[["26f73862.d3f0f8"]]},{"id":"33e3e8c8.318668","type":"debug","z":"9f3cd52c.5b6418","name":"","active":true,"tosidebar":false,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":1380,"y":120,"wires":[]},{"id":"fd406f73.d8aa6","type":"ui_group","z":"","name":"","tab":"7389ee87.eded9","order":4,"disp":true,"width":"6","collapse":false},{"id":"7389ee87.eded9","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]